# lightning.pytorch==2.0.5
seed_everything: 42
trainer:
  accelerator: auto
  strategy: auto
  devices: auto
  num_nodes: 1
  logger: WandbLogger
  precision: 32-true
  callbacks: null
  fast_dev_run: false
  max_epochs: null
  min_epochs: null
  max_steps: -1
  min_steps: null
  max_time: null
  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null
  overfit_batches: 0.0
  val_check_interval: null
  check_val_every_n_epoch: 1
  num_sanity_val_steps: null
  log_every_n_steps: null
  enable_checkpointing: null
  enable_progress_bar: null
  enable_model_summary: null
  accumulate_grad_batches: 8
  gradient_clip_val: null
  gradient_clip_algorithm: null
  deterministic: null
  benchmark: null
  inference_mode: true
  use_distributed_sampler: true
  profiler: null
  detect_anomaly: false
  barebones: false
  plugins: null
  sync_batchnorm: false
  reload_dataloaders_every_n_epochs: 0
model:
  path_name: UDTube
  model_name: bert-base-multilingual-cased
  overall_dropout: 0.3
  encoder_dropout: 0.5
  overall_learning_rate: 0.005
  encoder_model_learning_rate: 2.0e-05
  pooling_layers: 4
  checkpoint: lightning_logs/hnnkb8cr/checkpoints/epoch=1-step=52.ckpt
data:
  language: el
  train_dataset: null
  val_dataset: null
  predict_dataset: null
  test_dataset: el_gdt-ud-dev.conllu
  batch_size: 8
  convert_to_um: false
  reverse_edits: true
  checkpoint: lightning_logs/hnnkb8cr/checkpoints/epoch=1-step=52.ckpt
output_file: el_gdt-ud-dev-pred.conllu
verbose: true